recursive-include src/appier_extras/parts/admin/static/css *
recursive-include src/appier_extras/parts/admin/static/images *
recursive-include src/appier_extras/parts/admin/static/js *
recursive-include src/appier_extras/parts/admin/templates/fluid *.tpl
recursive-include src/appier_extras/parts/admin/templates/fluid/* *
recursive-include src/appier_extras/parts/admin/templates/partials *
recursive-include src/appier_extras/parts/admin/templates/static *.tpl
recursive-include src/appier_extras/parts/admin/templates/static/* *
recursive-include src/appier_extras/parts/captcha/static/fonts *
recursive-include src/appier_extras/parts/captcha/static/patterns *
